<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>symfony demo app</title>

    {% block stylesheets %}{% endblock %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <main role="main">
        {% block main %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; Company 2018</p>
    </footer>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div> <!-- /container -->
</body>
</html>
